.DS_Store

*SHA*SUM*
*CHECKSUM*
*.sha256
*.md5

*GPG*
*.sig
*.sign
*.gpg
*.asc

*.meta4

*.AppImage
*.iso

*.pdf
*.deb

*.tar.gz
*.tar.xz
*.zip

*.aria2
*.bin
*.manifest
*.json
*.txt
!booya/vendor/**/*.txt
